.proveedor-nombre {
    color: $primario;
    background-color: $secundario;
}

.encabezado-compra {
    @include tablet {
        display: grid;
        grid-template-columns: 3fr 2fr;
        column-gap: $separacion / 4;
    }
}

.datos {
    display: flex;
    flex-direction: column;
}

.fila-compra { 
    @include tablet {
        display: grid;
        grid-template-columns: 1fr 5fr 1fr 2fr 2fr;
        column-gap: $separacion/4;
    }
}

.elemento-compra {
    width: 90%;
    display:flex;

    @include tablet{
        display: flex;
        flex-direction: column;
    }
}
.detalle-compra {
    
    @include tablet {
        display: flex;
        flex-direction: column;
    }
}

.modaltope {
    
    position: absolute;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 0;
    display: block;
    background-color:$gris;
    top: 0 ;
    //border: 2px solid $negro;
    box-shadow: 0px 0px 15px $grisOscuro;  
    
}

.modalcentro {
    
    position: absolute;
    width: 80%;
    height: 50%;
    margin-top:20%;
    margin-left: 10%;
    margin-right: 10%;
    display: block;
    top: 0 ;
    border: 2px solid $negro;
    background-color: $gris;
    color: $secundario;
    overflow: auto;
    
    
}

.modal-titulo{
    display: block;
    text-align: center;
    background-color: $grisOscuro;
    color: $primario;
}


.hidden {
    display: none;
}

.modal-contenido{
    padding: $separacion/4;
}

.col-2 {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: $separacion /2;
}


// Ventana de envio
.envio-detalles {
    width: 100%;
    overflow: hidden;
}

.envio-elemento {
    width: 100%;
}

.envio-total {
    margin-top: $separacion / 2;
    margin-left: 50%;
}

.envio-fila{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
}

.envio-botones{
    margin-top: $separacion/2;
    text-align: right;
}

.envio-boton{
    margin-left: $separacion/4;
}

// Variaciones del producto
.variacion-fila{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.variacion-elemento {
    width: 100%;
}

.variacion-opc {
    margin-top: $separacion/2;
}

.variacion-producto {
    margin-top: $separacion/4;
    padding: $separacion/4;
    
    background-color: $grisOscuro;
    color: $primario;
}

.label-total{
    border: 1px solid $gris;
    text-align: right;
    padding-right: $separacion/4;
    font-weight: $bold;
    
}
