/*=============================================
=                   Proveedor                  =
=============================================*/

.prov-flex{
    display: flex;
    flex-direction: row;
    margin-top: $separacion/4;
}

.prov-campo{
    display: grid;
    grid-template-columns: 40% 60%;
    column-gap: $separacion/4;
}

.prov-campo2{
    display:grid;
    grid-template-columns: 50% 50%;
    column-gap:2rem;
}

.prov-label{
    
    flex: 0 0 8rem;
}

.prov-label2{
    
    flex: 0 0 15rem;
}


.prov-campo-3col{
    display:grid;
    grid-template-columns: 40% 30% 30%;
    column-gap:$separacion/4;
}

.datos {
    padding-left: $separacion/2;
    padding-right: $separacion/2;
}

.prov-input{
    width: 100%;
}

/*============  End of Proveedor =============*/

