

.modal-titulo {
    background-color: $gris;
    color: $secundario;
}

.modal-top {
    position: absolute;
    width: 80vw;
    margin-left: 10vw;
    margin-top: 0;
    display: block;
    background-color: $gris;
    top: 0;
    //border: 2px solid $negro;
    box-shadow: 0px 0px 15px $grisOscuro;  
    background-color: $blanco;
    color: $secundario;
    
}

.producto-fila {
    display: flex;
    flex-direction: row;

    label {
        flex: none;
        display: block;
        width: 120px;
    }

    label.der-inline{
        text-align: right;
        padding-right: 8px;
        padding-left: 10px;
        width: auto;
    }

    .producto-el {
        flex: 1 1 auto;
        display: block;
        padding: 4px;
    }
}

.w-120 {
    width: 120px;
}

.producto-form {
    display: grid;
    grid-template-columns: repea(1fr);
    column-gap: $separacion/4;

    label {
        grid-column: 1/2;
    }

    input {
        grid-column: 2/3;
    }
}